################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/Release
/Source/.vs/EnterpriseLibrary/v15
/Source/Validation Application Block/Validation/obj
/Source/Validation Application Block/Validation/bin
/Source/Policy Injection Application Block/PolicyInjection/obj
/Source/Policy Injection Application Block/PolicyInjection/bin
/Source/Logging Application Block/Logging/obj
/Source/Logging Application Block/Logging/bin
/Source/Exception Handling Application Block/ExceptionHandling/obj
/Source/Exception Handling Application Block/ExceptionHandling/bin
/Source/Data Access Application Block/Data/obj
/Source/Data Access Application Block/Data/bin
/Source/Core/Common/obj
/Source/Core/Common/bin
/Source/Exception Handling Application Block/ExceptionHandling.Logging/obj
/Source/Exception Handling Application Block/ExceptionHandling.Logging/bin
/Source/Logging Application Block/Logging.Database/obj
/Source/Logging Application Block/Logging.Database/bin
/Build/Debug
/Source/Caching Application Block/Caching/obj
/Source/Caching Application Block/Caching/bin
/Source/Caching Application Block/Caching.Cryptography/obj
/Source/Caching Application Block/Caching.Cryptography/bin/Release
/Source/Caching Application Block/Caching.Database/obj
/Source/Caching Application Block/Caching.Database/bin/Release
/Source/Cryptography Application Block/Security.Cryptography/obj
/Source/Cryptography Application Block/Security.Cryptography/bin/Release
*.user
